package ${package.Controller};

import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.lfj.util.response.JsonReturn;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import com.cqysxx.smartOffice.common.UserHandle;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.BeanUtils;
import com.cqysxx.smartOffice.util.CheckUtils;
import com.cqysxx.smartOffice.common.Msg;


import javax.validation.Valid;
import java.util.List;

/**
 * <p>
 *  ${table.entityPath}前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date} ${TIME}
 */
@RestController
@RequestMapping("/${table.entityPath}")
public class  ${table.controllerName} {

    @Autowired
    public ${table.serviceName} ${table.entityPath}Service;


    @Autowired
    private UserHandle userHandle;


    /**
    * 分页查询${entity}列表
    * @param vo 查询条件对象
    * @return com.cqysxx.smartOffice.common.Msg
    * @date ${date} ${TIME}
    * @author lfj
    */
    @RequestMapping("list${entity}")
    public Msg list${entity}(@RequestBody @Valid ${entity} ${table.entityPath}) {

        if (pageNum != null && pageSize != null) {
            try {
                Page<${entity}> page = ${table.entityPath}Service.page(new Page<>(pageNum, pageSize));
                return JsonReturn.buildSuccess(page, "操作成功");
            } catch (Exception e) {
                e.printStackTrace();
                return JsonReturn.buildFailure("操作失败" + e.getMessage());
            }
        }
        try {
            Page<${entity}> page = ${table.entityPath}Service.page(new Page<>());
            return JsonReturn.buildSuccess(page, "操作成功");
        } catch (Exception e) {
            e.printStackTrace();
            return JsonReturn.buildFailure("操作失败" + e.getMessage());
        }
    }

    /**
     * 保存
     * @param ${table.entityPath} 保存的对象
     * @return com.cqysxx.smartOffice.common.Msg
     * @date ${date} ${TIME}
     */
    @PostMapping("/save")
    public Msg save(${entity} ${table.entityPath}) {
        if (${table.entityPath}.getId() != null){
            try {
                ${table.entityPath}Service.updateById(${table.entityPath});
                return JsonReturn.buildSuccess(${table.entityPath}, "操作成功");
            } catch (Exception e) {
                e.printStackTrace();
                return JsonReturn.buildFailure("操作失败" + e.getMessage());
            }
        }
        try {
            ${table.entityPath}Service.save(${table.entityPath});
            return JsonReturn.buildSuccess(${table.entityPath}, "操作成功");
        } catch (Exception e) {
            e.printStackTrace();
            return JsonReturn.buildFailure("操作失败" + e.getMessage());
        }

    }

    /**
     * 修改
     * @param ${table.entityPath} 修改的对象
     * @return JsonReturn
     */
    @PostMapping("/update")
    public Msg update(${entity} ${table.entityPath}) {
        if (${table.entityPath}.getId() != null){
            try {
                    ${table.entityPath}Service.updateById(${table.entityPath});
                return JsonReturn.buildSuccess(${table.entityPath}, "操作成功");
            } catch (Exception e) {
                e.printStackTrace();
                return JsonReturn.buildFailure("操作失败" + e.getMessage());
            }
        }
        try {
                ${table.entityPath}Service.save(${table.entityPath});
            return JsonReturn.buildSuccess(${table.entityPath}, "操作成功");
        } catch (Exception e) {
            e.printStackTrace();
            return JsonReturn.buildFailure("操作失败" + e.getMessage());
        }

    }

    /**批量删除 支持POST GET
     * @param ids Long 类型 List 集合
     * @return JsonReturn
     */
    @RequestMapping("remove")
    public Msg delete(@RequestBody List<Long> ids) {
        try {
            ${table.entityPath}Service.removeByIds(ids);
            return JsonReturn.buildSuccess(ids, "操作成功");
        } catch (Exception e) {
            e.printStackTrace();
            return JsonReturn.buildFailure("操作失败" + e.getMessage());
        }
    }

    /**
     * 查询一个  支持POST GET
     *
     * @param id 查找对象的主键ID
     * @return JsonReturn
     */
    @RequestMapping("getDetail")
    public Msg findOne(Long id) {
        try {
            ${entity} ${table.entityPath} = ${table.entityPath}Service.getById(id);
            return JsonReturn.buildSuccess(${table.entityPath}, "操作成功");
        } catch (Exception e) {
            e.printStackTrace();
            return JsonReturn.buildFailure("操作失败" + e.getMessage());
        }
    }


}
